body {
    font-family: 'Courier New', Courier, monospace;
}

button {
	display: block;
	height: 30px;
	outline: none;
    padding: 10px 20px;
    border: 0;
    font-weight: bold;
    font-family: inherit;
    white-space: nowrap;
}

button.cancel {
    background-color: #000;
    color: #fff;
}
button.cancel:hover {
    background-color: #40393a;
}
