#wrap {
    margin: auto;
    max-width: 100%;
}

#content {
    border: 1px dotted #999;
}

#content header {
    background-color: #636363;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
